<?xml version="1.0"?>
<launch>

    <!-- Launch other relevant files-->
    <include file="$(find hurba_navigation)/launch/world.launch"/>

    <!-- Map Server -->
    <!--arg name="map_file" default="$(find hurba_navigation)/maps/map.yaml"/-->
    <arg name="map_file" default="$(env HURBA_MAP_FILE)"/>
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)">
    </node>

    <!-- AMCL Node -->
    <arg name="initial_pose_x"  default="0.0"/>
    <arg name="initial_pose_y"  default="0.0"/>
    <arg name="initial_pose_a"  default="1.5707"/>
    <node name="amcl" pkg="amcl" type="amcl" output="screen">
        <!--remap from="scan" to="my_robot/laser/scan"/-->
        <param name="odom_frame_id" value="odom"/>
        <param name="odom_model_type" value="omni"/>
        <param name="base_frame_id" value="base_footprint"/>
        <param name="global_frame_id" value="map"/>
        <param name="scan_topic" value="scan"/>
        <!-- If you choose to define initial pose here -->
        <param name="initial_pose_x" value="$(arg initial_pose_x)"/>
        <param name="initial_pose_y" value="$(arg initial_pose_y)"/>
        <param name="initial_pose_a" value="$(arg initial_pose_a)"/>
        <!-- dynamically adjusts particles for every iteration -->
        <param name="min_particles" value="500"/>
        <param name="max_particles" value="2000"/>
        <!-- Perform update parameters -->
        <param name="update_min_d" value="0.1"/>
        <param name="update_min_a" value="0.1"/>
        <param name="laser_model_type" value="likelihood_field"/>
        <param name="laser_max_range" value="10.0"/>
        <param name="odom_alpha1" value="0.1"/>
        <param name="odom_alpha2" value="0.1"/>
        <param name="odom_alpha3" value="0.1"/>
        <param name="odom_alpha4" value="0.1"/>
        <param name="odom_alpha5" value="0.1"/>
    </node>


    <!--launch rviz-->
    <node name="rviz" pkg="rviz" type="rviz" respawn="false" args="-d $(find hurba_navigation)/rviz/amcl_navigation.rviz"/>   

</launch>